.doc {
  &-thumbnail {
    max-width: 200px;
    max-height: 200px;
    margin: 2px;
  }
}

@include media-breakpoint-up(sm) {}
@include media-breakpoint-up(md) {}
@include media-breakpoint-up(lg) {}
@include media-breakpoint-up(xl) {}
