<%- partial('partials/_nav', {nav: 'validate'})%>

<div class="container" style="max-width: 57rem;">
  <div class="my-3">
    <div>
      <form class="form-group" onsubmit="event.preventDefault(); app.searchUserId(this.elements.namedItem('userId').value);">
        <div class="input-group col-12 col-md-7 col-lg-5 mx-auto">
          <span class="input-group-prepend" id="scanner-btn-group">
            <button class="btn btn-secondary" type="button" id="scanner-btn" onclick="app.openScanner()" onmousedown="event.preventDefault()"><i class="fa fa-barcode" aria-hidden="true"></i></button>
          </span>
          <input type="tel" name="userId" class="form-control" id="user-id-input" placeholder="請輸入報名序號" required>
          <span class="input-group-append">
            <button class="btn btn-success" type="submit" onmousedown="event.preventDefault()">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
          </span>
        </div>
      </form>
    </div>
    <hr>
    <div id="student-info-div" hidden>
      <dl class="row ">
        <dt class="col-5 col-md-3">報名層級</dt>
        <dd class="col-12 col-md-3" id="system"></dd>

        <dt class="col-5 col-md-3">身障程度</dt>
        <dd class="col-12 col-md-3" id="disability"></dd>

        <dt class="col-5 col-md-3">報名序號</dt>
        <dd class="col-12 col-md-3" id="user-id"></dd>

        <dt class="col-5 col-md-3">僑生編號</dt>
        <dd class="col-12 col-md-3 text-danger" id="overseas-student-id"></dd>

        <dt class="col-5 col-md-3">中文姓名</dt>
        <dd class="col-12 col-md-3" id="name"></dd>

        <dt class="col-5 col-md-3">英文姓名</dt>
        <dd class="col-12 col-md-3" id="eng-name"></dd>

        <dt class="col-5 col-md-3">性別</dt>
        <dd class="col-12 col-md-3" id="gender"></dd>

        <dt class="col-12 col-md-3">出生日期（年/月/日）</dt>
        <dd class="col-12 col-md-3" id="birthday"></dd>

        <dt class="col-5 col-md-3">出生地國別</dt>
        <dd class="col-12 col-md-3" id="birth-location"></dd>

        <dt class="col-5 col-md-3">僑居地國別</dt>
        <dd class="col-12 col-md-3" id="resident-location"></dd>

        <dt class="col-5 col-md-3">申請身份別</dt>
        <dd class="col-12 col-md-3" id="identity"></dd>

        <dt class="col-5 col-md-3">身份別代碼</dt>
        <dd class="col-12 col-md-3" id="rule-code-of-overseas-student-id"></dd>

        <dt class="col-5 col-md-3">學校國別</dt>
        <dd class="col-12 col-md-3" id="graduate-school-country"></dd>

        <dt class="col-5 col-md-3">畢業學校</dt>
        <dd class="col-12 col-md-3" id="graduate-school-name"></dd>

        <dt class="col-5 col-md-3">報名狀態</dt>
        <dd class="col-12 col-md-3 text-danger" id="confirmed-status"></dd>

        <dt class="col-5 col-md-3">審核狀態</dt>
        <dd class="col-12 col-md-3 text-danger" id="verified-status"></dd>

        <dt class="col-5 col-md-3" id="apply-way-title">成績採計方式</dt>
        <dd class="col-12 col-md-9" id="apply-way"></dd>

      </dl>

      <hr>

      <form onsubmit="event.preventDefault(); app.checkVerifyTime(this.elements.namedItem('verificationDesc').value);">
        <div class="form-group row">
          <label for="staticEmail" class="col-3 col-form-label">審核備註</label>
          <textarea class="col-9" id="verification-desc" name="verificationDesc" cols="60" rows="3"></textarea>
        </div>

        <div class="row">
          <button type="submit" class="btn btn-success mx-auto" id="submit-btn">確認審核</button>
        </div>
    </form>

    <form id="hk-certified-area" style="display: none;">
      <hr>
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-12 col-md-10 mb-2">
              <span class="doc-title">核驗單位上傳文件</span><br/>
              <!-- <span class="doc-hint text-muted">點圖可放大、縮小或旋轉</span> -->
            </div>

            <div class="col-2 mb-2 ml-auto text-right">
              <!-- <button class="btn btn-success" onclick="app.downloadEducationFile('resident-certificate'); return false;"><i class="fa fa-download" aria-hidden="true"></i> 下載</button> -->
              <input class="btn btn-success ml-auto mr-3" type="file" multiple value="上傳檔案" onchange="app.uploadEducationFile('verification-file', this.files)" onmousedown="event.preventDefault()">
            </div>
          </div>
        </div>
        <div class="card-body" id="hk-office-upload-div">
        </div>
      </div>
    </form>
  </div>
</div>

<!-- Scanner Modal -->
<div class="modal fade" tabindex="-1" id="scanner-modal" role="dialog" aria-labelledby="scannerModal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="scanner-title">條碼掃瞄器</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center" id="scanner-body">
      </div>
    </div>
  </div>
</div>


<div class="modal fade" tabindex="-1" id="original-img-modal" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="original-img-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <canvas
          class="img-fluid" id="original-img-canvas"
          data-filename="" data-filetype=""
          onmousedown="app.mouseDownOnImage(event);"
          onmousemove="app.mouseMoveOnImage(event);"
          onmouseout="app.renderImage(0);"
          onmouseup="app.clearDrag();"
          onmouseover="app.clearDrag();"
          onmouseout="app.clearDrag();"
        ></canvas>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="app.renderImage(0, 1/0.8)" onmousedown="event.preventDefault()">放大</button>
        <button type="button" class="btn btn-primary" onclick="app.renderImage(0, 0.8)" onmousedown="event.preventDefault()">縮小</button>
        <button type="button" class="btn btn-primary mr-auto" onclick="app.renderImage(90)" onmousedown="event.preventDefault()">轉</button>
        <button type="button" class="btn btn-danger" id="original-delete-btn" onclick="app.deleteEducationFile(document.getElementById('original-img-canvas').dataset.filename, document.getElementById('original-img-canvas').dataset.filetype)" onmousedown="event.preventDefault()"><i class="fa fa-trash-o" aria-hidden="true"></i> 刪除</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" onmousedown="event.preventDefault()"><i class="fa fa-sign-out" aria-hidden="true"></i> 離開</button>
      </div>
    </div>
  </div>
</div>