<%- partial('partials/_nav', {nav: 'list'})%>

<div class="container" style="max-width: 100rem;">
  <div class="row">
    <nav class="nav nav-tabs justify-content-center my-3 detail-tab col" id="infoTab" role="tablist">
      <a
        class="nav-item nav-link active"
        id="bachelor-selection-students-tab"
        data-toggle="tab" href="#bachelor-selection-students"
        role="tab"
        aria-controls="bachelor-selection-students"
        aria-expanded="true"
      >
        <span class="d-block">學士班 個人申請</span>
      </a>
      <a
        class="nav-item nav-link"
        id="bachelor-placement-students-tab"
        data-toggle="tab"
        href="#bachelor-placement-students"
        role="tab"
        aria-controls="bachelor-placement-students"
        aria-expanded="true"
      >
        <span class="d-block">學士班 聯合分發</span>
      </a>
      <a
        class="nav-item nav-link"
        id="division-of-preparatory-programs-students-tab"
        data-toggle="tab"
        href="#division-of-preparatory-programs-students"
        role="tab"
        aria-controls="division-of-preparatory-programs-students"
        aria-expanded="true"
      >
        <span class="d-block">僑先部</span>
      </a>
      <a
        class="nav-item nav-link"
        id="two-year-tech-students-tab"
        data-toggle="tab" href="#two-year-tech-students"
        role="tab" aria-controls="two-year-tech-students"
        aria-expanded="true"
      >
        <span class="d-block">香港二年制學士班</span>
      </a>
      <a
        class="nav-item nav-link"
        id="master-students-tab"
        data-toggle="tab"
        href="#master-students"
        role="tab"
        aria-controls="master-students"
        aria-expanded="true"
      >
        <span class="d-block">碩士班</span>
      </a>
      <a
        class="nav-item nav-link"
        id="phd-students-tab"
        data-toggle="tab"
        href="#phd-students"
        role="tab"
        aria-controls="phd-students"
        aria-expanded="true"
      >
        <span class="d-block">博士班</span>
      </a>
    </nav>

    <div class="p-3">
      <button class="btn btn-success" onmousedown="event.preventDefault()">下載已審核清單</button>
    </div>
  </div>
  <div class="tab-content" id="tabContent">

    <div
      class="tab-pane fade show active"
      id="bachelor-selection-students"
      role="tabpanel"
      aria-labelledby="bachelor-selection-students-tab"
    >
      <table class="table">
        <thead>
          <tr>
            <th>報名序號</th>
            <th>收件時間</th>
            <th>姓名</th>
            <th>性別</th>
            <th>生日</th>
            <th>身份別代碼</th>
            <th>僑生編號</th>
            <th>備註</th>
          </tr>
        </thead>
        <tbody id="bachelor-selection-students-body">
          <tr>
            <th>1</th>
            <td>2017-10-16 14:24:46</td>
            <td>黃薏帆 Evan-E</td>
            <td>女</td>
            <td>1996/02/30</td>
            <td>上底加下底乘以高除以二</td>
            <td>港澳</td>
            <td>3345678</td>
            <td>我覺得不行</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div
      class="tab-pane fade"
      id="bachelor-placement-students"
      role="tabpanel"
      aria-labelledby="bachelor-placement-students-tab"
    >
      <table class="table">
        <thead>
          <tr>
            <th>報名序號</th>
            <th>收件時間</th>
            <th>姓名</th>
            <th>性別</th>
            <th>生日</th>
            <th>成績採計方式</th>
            <th>身份別代碼</th>
            <th>僑生編號</th>
            <th>備註</th>
          </tr>
        </thead>
        <tbody id="bachelor-placement-students-body">
          <tr>
            <th>1</th>
            <td>2017-10-16 14:24:46</td>
            <td>黃薏帆 Evan-E</td>
            <td>女</td>
            <td>1996/02/30</td>
            <td>港澳</td>
            <td>3345678</td>
            <td>我覺得不行</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div
      class="tab-pane fade"
      id="two-year-tech-students"
      role="tabpanel"
      aria-labelledby="two-year-tech-students-tab"
    >
      <table class="table">
        <thead>
          <tr>
            <th>報名序號</th>
            <th>收件時間</th>
            <th>姓名</th>
            <th>性別</th>
            <th>生日</th>
            <th>身份別代碼</th>
            <th>僑生編號</th>
            <th>備註</th>
          </tr>
        </thead>
        <tbody id="two-year-tech-students-body">
          <tr>
            <th>1</th>
            <td>2017-10-16 14:24:46</td>
            <td>黃薏帆 Evan-E</td>
            <td>女</td>
            <td>1996/02/30</td>
            <td>港澳</td>
            <td>3345678</td>
            <td>我覺得不行</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div
      class="tab-pane fade"
      id="master-students"
      role="tabpanel"
      aria-labelledby="master-students-tab"
    >
      <table class="table">
        <thead>
          <tr>
            <th>報名序號</th>
            <th>收件時間</th>
            <th>姓名</th>
            <th>性別</th>
            <th>生日</th>
            <th>身份別代碼</th>
            <th>僑生編號</th>
            <th>備註</th>
          </tr>
        </thead>
        <tbody id="master-students-body">
          <tr>
            <th>1</th>
            <td>2017-10-16 14:24:46</td>
            <td>黃薏帆 Evan-E</td>
            <td>女</td>
            <td>1996/02/30</td>
            <td>港澳</td>
            <td>3345678</td>
            <td>我覺得不行</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div
      class="tab-pane fade"
      id="phd-students"
      role="tabpanel"
      aria-labelledby="phd-students-tab"
    >
      <table class="table">
        <thead>
          <tr>
            <th>報名序號</th>
            <th>收件時間</th>
            <th>姓名</th>
            <th>性別</th>
            <th>生日</th>
            <th>身份別代碼</th>
            <th>僑生編號</th>
            <th>備註</th>
          </tr>
        </thead>
        <tbody id="phd-students-body">
          <tr>
            <th>1</th>
            <td>2017-10-16 14:24:46</td>
            <td>黃薏帆 Evan-E</td>
            <td>女</td>
            <td>1996/02/30</td>
            <td>港澳</td>
            <td>3345678</td>
            <td>我覺得不行</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
