<%- partial('partials/_nav', {nav: 'list'})%>

<div class="container" style="max-width: 100rem;">
  <div class="row">
    <nav class="nav nav-tabs justify-content-center my-3 detail-tab col" id="infoTab" role="tablist">
      <a
        class="nav-item nav-link active"
        id="bachelor-selection-students-tab"
        data-toggle="tab" href="#bachelor-selection-students"
        role="tab"
        aria-controls="bachelor-selection-students"
        aria-expanded="true"
      >
        <span class="d-block">學士班 個人申請</span>
      </a>
      <a
        class="nav-item nav-link"
        id="bachelor-placement-students-tab"
        data-toggle="tab"
        href="#bachelor-placement-students"
        role="tab"
        aria-controls="bachelor-placement-students"
        aria-expanded="true"
      >
        <span class="d-block">學士班 聯合分發</span>
      </a>
      <a
        class="nav-item nav-link"
        id="division-of-preparatory-programs-students-tab"
        data-toggle="tab"
        href="#division-of-preparatory-programs-students"
        role="tab"
        aria-controls="division-of-preparatory-programs-students"
        aria-expanded="true"
      >
        <span class="d-block">僑先部</span>
      </a>
      <a
        class="nav-item nav-link"
        id="two-year-tech-students-tab"
        data-toggle="tab" href="#two-year-tech-students"
        role="tab" aria-controls="two-year-tech-students"
        aria-expanded="true"
      >
        <span class="d-block">香港二年制學士班</span>
      </a>
      <a
        class="nav-item nav-link"
        id="master-students-tab"
        data-toggle="tab"
        href="#master-students"
        role="tab"
        aria-controls="master-students"
        aria-expanded="true"
      >
        <span class="d-block">碩士班</span>
      </a>
      <a
        class="nav-item nav-link"
        id="phd-students-tab"
        data-toggle="tab"
        href="#phd-students"
        role="tab"
        aria-controls="phd-students"
        aria-expanded="true"
      >
        <span class="d-block">博士班</span>
      </a>
    </nav>

    <!--
    TODO:不同學制要有不同按鈕
    <div class="p-3">
      <button class="btn btn-success" onmousedown="event.preventDefault()">下載已審核清單</button>
    </div>
    -->
  </div>
  <div class="tab-content" id="tabContent">

    <div
      class="tab-pane fade show active"
      id="bachelor-selection-students"
      role="tabpanel"
      aria-labelledby="bachelor-selection-students-tab"
    >
      <div class="p-3 text-right">
        <button class="btn btn-success" onmousedown="event.preventDefault()" onclick="app.downloadList('bachelor-selection')">下載已審核清單</button>
      </div>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>報名序號</th>
            <th>收件時間</th>
            <th>姓名</th>
            <th>性別</th>
            <th>生日</th>
            <th>學歷取得地</th>
            <th>僑生編號</th>
            <th>備註</th>
          </tr>
        </thead>
        <tbody id="bachelor-selection-students-body"></tbody>
      </table>
    </div>

    <div
      class="tab-pane fade"
      id="bachelor-placement-students"
      role="tabpanel"
      aria-labelledby="bachelor-placement-students-tab"
    >
      <div class="p-3 text-right">
        <button class="btn btn-success" onmousedown="event.preventDefault()" onclick="app.downloadList('bachelor-placement')">下載已審核清單</button>
      </div>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>報名序號</th>
            <th>收件時間</th>
            <th>姓名</th>
            <th>性別</th>
            <th>生日</th>
            <th>成績採計方式</th>
            <th>學歷取得地</th>
            <th>僑生編號</th>
            <th>備註</th>
          </tr>
        </thead>
        <tbody id="bachelor-placement-students-body"></tbody>
      </table>
    </div>

    <div
      class="tab-pane fade"
      id="division-of-preparatory-programs-students"
      role="tabpanel"
      aria-labelledby="division-of-preparatory-programs-students-tab"
    >
      <div class="p-3 text-right">
        <button class="btn btn-success" onmousedown="event.preventDefault()" onclick="app.downloadList('division-of-preparatory-programs')">下載已審核清單</button>
      </div>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>報名序號</th>
            <th>收件時間</th>
            <th>姓名</th>
            <th>性別</th>
            <th>生日</th>
            <th>學歷取得地</th>
            <th>僑生編號</th>
            <th>備註</th>
          </tr>
        </thead>
        <tbody id="division-of-preparatory-programs-students-body"></tbody>
      </table>
    </div>

    <div
      class="tab-pane fade"
      id="two-year-tech-students"
      role="tabpanel"
      aria-labelledby="two-year-tech-students-tab"
    >
      <div class="p-3 text-right">
        <button class="btn btn-success" onmousedown="event.preventDefault()" onclick="app.downloadList('two-year-tech')">下載已審核清單</button>
      </div>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>報名序號</th>
            <th>收件時間</th>
            <th>姓名</th>
            <th>性別</th>
            <th>生日</th>
            <th>學歷取得地</th>
            <th>僑生編號</th>
            <th>備註</th>
          </tr>
        </thead>
        <tbody id="two-year-tech-students-body"></tbody>
      </table>
    </div>

    <div
      class="tab-pane fade"
      id="master-students"
      role="tabpanel"
      aria-labelledby="master-students-tab"
    >
      <div class="p-3 text-right">
        <button class="btn btn-success" onmousedown="event.preventDefault()" onclick="app.downloadList('master')">下載已審核清單</button>
      </div>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>報名序號</th>
            <th>收件時間</th>
            <th>姓名</th>
            <th>性別</th>
            <th>生日</th>
            <th>學歷取得地</th>
            <th>僑生編號</th>
            <th>備註</th>
          </tr>
        </thead>
        <tbody id="master-students-body"></tbody>
      </table>
    </div>

    <div
      class="tab-pane fade"
      id="phd-students"
      role="tabpanel"
      aria-labelledby="phd-students-tab"
    >
      <div class="p-3 text-right">
        <button class="btn btn-success" onmousedown="event.preventDefault()" onclick="app.downloadList('phd')">下載已審核清單</button>
      </div>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>報名序號</th>
            <th>收件時間</th>
            <th>姓名</th>
            <th>性別</th>
            <th>生日</th>
            <th>學歷取得地</th>
            <th>僑生編號</th>
            <th>備註</th>
          </tr>
        </thead>
        <tbody id="phd-students-body"></tbody>
      </table>
    </div>
  </div>
</div>
