<%- partial('partials/_nav', {nav: 'list'})%>

<div class="container" style="max-width: 100rem;">

  <div class="row mx-auto mt-3">
    <div class="row ml-auto">
      <label class="col-5 col-form-label text-right">只顯示某日：</label>
      <div class="col-7">
        <input type="text" class="form-control" id="datepicker" onchange="app.reloadList(this.value);">
      </div>
    </div>
    <button class="btn btn-secondary ml-5 mr-auto" onmousedown="event.preventDefault()" onclick="app.reloadList('all')">顯示所有日期</button>
  </div>

  <div class="mb-2 text-right">
    <button  class="btn btn-success" onmousedown="event.preventDefault()" onclick="app.downloadVerifiedList()">下載收件清冊</button>
  </div>

  <div
    class="tab-pane fade show active"
    id="oyvtp-students"
    role="tabpanel"
    aria-labelledby="oyvtp-students-tab"
  >

  <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>報名序號</th>
            <th>收件時間</th>
            <th>姓名</th>
            <th>性別</th>
            <th>生日</th>
            <th>學歷取得地</th>
            <th>僑生編號</th>
            <th>備註</th>
          </tr>
        </thead>
        <tbody id="oyvtp-students-body"></tbody>
      </table>
    </div>
  </div>

</div>
