<%- partial('partials/_nav', {nav: 'nothing'})%>

<div class="container px-5">
  <form class="mx-auto mt-5" style="max-width: 23rem;" onsubmit="event.preventDefault(); app.login(this.elements.namedItem('username').value, this.elements.namedItem('password').value);">
    <div class="form-group row">
      <h4>登入系統</h4>
    </div>

    <div class="form-group row">
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1"><span class="oi oi-person"></span></span>
        <input class="form-control" id="username" name="username" type="email" placeholder="Username">
      </div>
    </div>

    <div class="form-group row">
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1"><span class="oi oi-key"></span></span>
        <input class="form-control" id="password" name="password" type="password" placeholder="Password">
      </div>
    </div>

    <div class="form-group row">
      <button class="btn btn-primary form-control" type="submit">登入</button>
    </div>
  </form>
</div>
