<footer class="container">
  <div class="row">
    <div class="col-12 text-center">
      <small>海外聯合招生委員會</small><br>
      <small>University Entrance Committee For Overseas Chinese Students</small><br />
      <small>地址：臺灣545南投縣埔里鎮大學路一號( 國立暨南國際大學 )</small><br />
      <small>E-mail：<a href="mailto:overseas@ncnu.edu.tw">overseas@ncnu.edu.tw</a> 電話：+886-49-2910900( 代表號 )   傳真：+886-49-2911182</small>
    </div>
  </div>
</footer>
