<footer>
  <dl class="container text-center">
    <dd>
      <a href="https://www.ocac.gov.tw/ocac/" target="_blank">
        中華民國僑務委員會
      </a>
    </dd>
    <dd>
      <a href="https://www.ocac.gov.tw/OCAC/Eng" target="_blank">
        Overseas Community Affairs Council, R.O.C.（Taiwan）
      </a>
    </dd>
    <dd>
      <a href="https://www.ocac.gov.tw/OCAC/Pages/VDetail.aspx?nodeid=536&pid=1603" target="_blank">
        <i class="fa fa-map-o" aria-hidden="true"></i>
        地址：10055台北市徐州路五號三、十五、十六、十七樓<br />3,15-17F., No.5, Xuzhou Rd., Zhongzheng Dist., Taipei City 10055, Taiwan (R.O.C.)
      </a>
    </dd>
    <dd>
      <span class="d-block d-sm-inline">Email：<a href="https://www.ocac.gov.tw/OCAC/ServiceEmail/ServiceEmail.aspx?nodeid=314" target="_blank">中華民國僑務委員會服務信箱網址連結</a></span>
      <span class="d-block d-sm-inline">電話：<a href="tel:+886-2-2327-2600">+886-2-2327-2600</a></span>
      <span class="d-block d-sm-inline">傳真：+886-2-2356-6354</span>
    </dd>
    <dd>
      <span class="d-block d-sm-inline">上班時間：臺灣時間週一至週五 08:30 ~ 17:30</span>
    </dd>
  </dl>
</footer>